# Python Stuff
.ipynb_checkpoints/
__pycache__/

# Images for Presentations
Images/

# Mac OSX Stuff
.DS_Store

# vim stuff
*.swp
*.un~

# ExaBayes Output files
ExaBayes_info.*
ExaBayes_binaryAlignment.*
ExaBayes_checkpoint.*
ExaBayes_diagnostics.*
ExaBayes_prevCheckpointBackup.*

# TreeBASE files
mapt_molec_evo.rdf
S18990.nex